html, body{
    margin: 0px;
    padding: 0px;
}
 
body{
    position: relative;
}
 
.cabecalho{
   
    min-width: 100%;
}
/*
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00D9A3;
    border-bottom: 5px solid white;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 998;
} */
 
header .logo{
    background-color: #00D9A3;
}
header .botoes{
    font-size: 20px;
    font-family: Copperplate Gothic, Helvetica, sans-serif;
}
header a:hover{
    color: black;
    text-decoration: none;  
}
header .botoes a:link, a:visited {
    background-color: #00D9A3;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
 
/* Slideshow */
 
* {box-sizing:border-box}
 
        /* Slideshow container */
        .slideshow-container {
        position: relative;
        margin: auto;
        top: 0px;
        }
 
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        }
 
        /* Fading animation */
        .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1s;
        animation-name: fade;
        animation-duration: 1s;
        background-color: white;
        }
 
        @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
        }
 
        @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
        }
 
/*****/
 
.index-vid {
    background-color: white;
    border-bottom: 2px;
}
 
/* container sem header */
.container-wout-header {
    position: absolute;
    top: 110px;
    width: 100%;
    height: 100%;
}
 
.container-wout-slides-header-index {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
}
 
.videos-container > .container-iframe-youtube {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    border: 3px;
    border-color: rgb(148, 113, 113);
    border-style:solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
 
.bgimg-fixed{
    background-image: url("imagens/20180527_172407.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
 
.spacetoshow-bgimage-fixed {
    opacity: 0;
    background-color: white;
    width: 100%;
    height: 500px;
}
 
.websites {
    background-color: white;
    width: 100%;
    height: fit-content;
}
 
/* Página "fotos" */
 
.thumbnail{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
 
.fotos img {
    max-width: 100%;
    display: flexbox;
    width: 350px;
    margin: 20px;
}
 
.fotos img {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}
 
.fotos:hover img {
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -moz-transform: scale(1.5);
    /* Firefox */
    -ms-transform: scale(1.5);
    /* IE 9 */
    -o-transform: scale(1.5);
    /* Opera */
    transform: scale(1.5);
    border: solid white 10px;
}
 
.o-que-e-mtb {
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #00006f;
    text-justify: auto;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}
 
.modalidades {
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #00006f;
    text-justify: auto;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}
 
.modalidades, .o-que-e-mtb p{
    text-align: justify;
}
 
.modalidades strong{
    font-size: 20px;
}
 
/* Página "monte a sua bike" */
select {
    position: relative;
    font-family: Copperplate Gothic, Helvetica, sans-serif;
    font-size: 15px;
    width: 200px;
    height: 40px;
    text-align: center;
    background-color: 00D9A3;
    color: white;
    top: 0px;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 99;
    cursor: pointer;
    border: solid black 1px;
    margin-bottom: 20px;
   
}
 
.seleciona-itens {
    width: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
 
.seleciona-modalidade .seleciona-marca .seleciona-tipo {
    height: auto;
}
 
select:hover {
    box-shadow: 4px 4px 8px black;
    transition-duration: 1s;
}
 
.submit-botao {
    text-align: center;
}
 
#envia {
    background-color: cornflowerblue;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
}
 
#envia:hover {
    box-shadow: 2px 2px 5px rgb(8, 121, 173);
    transition-duration: 0.5s;
}
 
.websites {
    border: white solid 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.links{
    margin: 20px;
}
 
.monte-a-sua {
    display: flex;
    justify-content: space-around;
   
}
 
footer .footer{
    text-align: center;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 100%;  
}
 
.formulario-insercao{
    padding: 20px;
    box-shadow: #00D9A3;
    border-radius: 10px;
}
 
@media (max-width: 628px) and (min-width: 521px) {
    .container-wout-header{
        position: absolute;
        top: 128px;
    }
}
 
@media (max-width: 520px) and (min-width: 441px) {
    .container-wout-header{
        position: absolute;
        top: 168px;
    }
}
 
@media (max-width: 440px) and (min-width: 401px){
    .container-wout-header{
        position: absolute;
        top: 200px;
    }
}
 
@media (max-width: 400px) {
    .container-wout-header{
        position: absolute;
        top: 250px;
    }
    /*
    header .container{
        flex-direction: column;
        text-align: center;
    }*/
}