header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00D9A3;
    border-bottom: 5px solid white;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}
header .logo{
    background-color: #00D9A3;
}
header .botoes{
    font-size: 20px;
    font-family: Copperplate Gothic, Helvetica, sans-serif;
}
header a:hover{
    color: black;
    text-decoration: none;  
}
header .botoes a:link, a:visited {
    background-color: #00D9A3;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
 
/* Slideshow */
 
* {box-sizing:border-box}
 
        /* Slideshow container */
        .slideshow-container0 {
        max-width: auto;
        max-height: 500px;
        position: relative;
        margin: auto;
        top: 0px; 
        }
 
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        }
 
        /* Fading animation */
        .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1s;
        animation-name: fade;
        animation-duration: 1s;
        background-color: white;
        }
 
        @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
        }
 
        @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
        }
 
/*****/
 
html, body{
    margin: 0px;
    padding: 0px;
}
 
.index-vid {
    background-color: white;
    border-bottom: 2px;
}
 
/* container sem header */
.container-wout-header {
    position: absolute;
    top: 110px;
    width: 100%;
    height: 100%;
}

.videos-container > .container-iframe-youtube {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    border: 3px;
    border-color: rgb(148, 113, 113);
    border-style:solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
 
.bgimg-fixed{
    background-image: url("imagens/20180527_172407.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
 
.spacetoshow-bgimage-fixed {
    opacity: 0;
    background-color: white;
    width: 100%;
    height: 500px;
}
 
.websites {
    background-color: white;
    width: 100%;
    height: fit-content;
}
 
footer .footer{
    text-align: center;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 100%;  
}